services:
  - type: web
    name: 4save-backend
    env: node
    rootDir: backend
    plan: starter
    buildCommand: npm install --include=dev && npx prisma migrate deploy && npm run build
    startCommand: npm run start:prod
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: JWT_SECRET
        sync: false
      - key: DATABASE_URL
        sync: false
